@model IEnumerable<DesignerBook.Models.TPerson>

@{
    ViewData["Title"] = "Перелік контактів";
    int a = ViewBag.Count;
}

<h1>Перелік контактів</h1>

<p>
    <a asp-action="Create">Створити новий контакт</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventsCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventsCount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детально</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a> |
                    <a asp-controller="TEvents"asp-action="Create" asp-route-PersonId="@item.Id">Створити подію</a>
            </td>
        </tr>
}
    </tbody>
</table>
