@model IEnumerable<DesignerBook.Models.TPersonExtention>

@{
    ViewData["Title"] = "Перелік контактів";
}

<h1>Перелік контактів</h1>

<p>
    <a asp-action="Create">Створити новий контакт</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Person.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventsCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Person.FirstName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Person.MiddleName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Person.LastName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.EventsCount)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Person.Id">Редагувати</a> |
                    <a asp-action="Details" asp-route-id="@item.Person.Id">Детально</a> |
                    <a asp-action="Delete" asp-route-id="@item.Person.Id">Видалити</a> |
                    <a asp-controller="TEvents" asp-action="Create" asp-route-PersonId="@item.Person.Id">Створити подію</a>
            </td>
        </tr>
}
    </tbody>
</table>
