@model DesignerBook.Models.TEvent

@{
    ViewData["Title"] = "Видалення подій";
}

<h1>Видалення подій</h1>

<h3>Ви впевнені, що хочете видалити подію?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventSerialNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventSerialNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDateRegister)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDateRegister)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextDateCommunication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextDateCommunication)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
    </dl>
    
    <form asp-action="Видалити">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">До переліку подій</a>
    </form>
</div>
