@model IEnumerable<DesignerBook.ViewModels.PersonsWithEvents>

@{
    ViewData["Title"] = "Index2";
}

<h1>Index2</h1>

<p>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
                @Html.DisplayNameFor(model => model.FromPersons.FirstOrDefault().Id)
        </th>
        <th>
                @Html.DisplayNameFor(model => model.FromEvents.FirstOrDefault().EventDateRegister)
        </th>
        <th>
                @Html.DisplayNameFor(model => model.FromEvents.FirstOrDefault().NextDateCommunication)
        </th>
        <th>
                @Html.DisplayNameFor(model => model.FromEvents.FirstOrDefault().Comment)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
                    @Html.DisplayFor(modelItem => item.FromPersons.FirstOrDefault().PIB)
        </td>
        <td>
                    @Html.DisplayFor(modelItem => item.FromEvents.FirstOrDefault().EventDateRegister)
        </td>
        <td>
                    @Html.DisplayFor(modelItem => item.FromEvents.FirstOrDefault().NextDateCommunication)
        </td>
        <td>
                    @Html.DisplayFor(modelItem => item.FromEvents.FirstOrDefault().Comment)
        </td>
        <td>
@*             <a asp-action="Edit" asp-route-id="@item.FromEvents.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.FromEvents.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.FromEvents.Id">Delete</a>
 *@        </td>
    </tr>
}
    </tbody>
</table>
