@model IEnumerable<DesignerBook.Models.TEvent>

@{
    ViewData["Title"] = "Перелік подій";
}

<h1>Перелік подій</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-vSortOrder="@ViewBag.PIBSort">Особа</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-vSortOrder="@ViewBag.EventDateRegSort">Дата реєстрації</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-vSortOrder="@ViewBag.NextDateCommSort">Наступна дата для зв'язку</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

            <tr>
                <td>
                    @item.PersonId
                </td>
                <td>
                    @item.EventDateRegister
                </td>
                <td>
                    @item.NextDateCommunication
                </td>
                <td>
                    @item.Comment
                </td>
            </tr>      
}
    </tbody>
</table>
