@model IEnumerable<DesignerBook.Models.TEvent>

@{
    ViewData["Title"] = "Перелік подій";
}

<h1>Перелік подій</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventSerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDateRegister)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextDateCommunication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventSerialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDateRegister)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NextDateCommunication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детально</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                <a asp-controller="TEvents" asp-action="Index" asp-route-PersonId="@item.PersonId"></a>
            </td>
        </tr>
}
    </tbody>
</table>
